<!-- users#show -->

<div class="container">
	
  <div class="row" id="profile-details">

		<div class="col-lg-7 col-md-6 col-sm-5" id="user-description">
			<div><%= image_tag @user.avatar.url(:medium) %></div>
			<h2 id="user-name"><%= @user.name %></h2>
			<h4>Joined: <%= @user.created_at.strftime("%B %Y") %></h4>
		</div>

		<div class="col-sm-1">
			<%= button_to "Edit Profile", edit_user_path(current_user), class: "btn btn-default", method: "get" %>
		</div>

  </div>
  <% @rides.each do |ride| %> 
  <% @ridenames.each do |ridename| %> 
  <% if ride.joined_ride_id == ridename.id %>
        <div class="row">
        	<div class='well well-sm'><%= link_to "#{ridename.title}", ride_path(ride.joined_ride_id), method: "get" %></div>
    	</div>
	<% end %>
	<% end %>
	<% end %>

	<div id='map'>
<div id='errors'></div>
<div id='directions'>

</div>
</div>

</div>

