<!-- rides#new -->

<%= form_for @ride do |f| %>
<!-- add errors div here for use with model validations -->

  <div class="col-sm-4 col-sm-offset-4" id="new-post-form">
  	<%= f.text_field :title, class: "form-control", placeholder: 'title' %>
    <br>
  	<%= f.text_area :description, class: "form-control", placeholder: 'description' %>
    <br>    
    <%= f.text_field :start_date, class: "form-control", placeholder: 'start date' %>
    <br>
    <%= f.text_field :end_date, class: "form-control", placeholder: 'end date' %>
    <br>
    <%= f.text_field :start_time, class: "form-control", placeholder: 'start time' %>
    <br>
    <%= f.text_field :end_time, class: "form-control", placeholder: 'end time' %>
    <br>
    <%= f.text_field :start_location, class: "form-control", placeholder: 'start location' %>
    <br>
    <%= f.text_field :end_location, class: "form-control", placeholder: 'end location' %>
    <br>
    <%= f.label :drop %>
    <%= f.check_box :drop %>
    <br>
    <%= f.label :public %>
    <%= f.check_box :public %>
  	<br>
  	<div class="text-right">
  		<%= f.submit "Submit", class: "btn btn-default" %>
  	</div>

	</div>

<div id='map_simple' class='map'>
<!-- <div id='errors'></div>
<div id='directions'>
  <div id='routes'></div>
  <div id='instructions'></div>
</div> -->
</div>
  
<% end %>



