<!-- rides#show -->

<div class="container">
		<h2 id="Ride"><%= @ride.title %></h2>
		<div id='map'></div>
</div>

  <div class="row">
    <%= @ride.title %>
    <%= @ride.description %>
    <%= @ride.start_date %>
    <%= @ride.end_date %>
    <%= @ride.start_time %>
    <%= @ride.end_time %>
    <%= @ride.start_location %>
    <%= @ride.end_location %>
    <%= @ride.drop %>
    <%= @ride.public %>
  </div>

  <div class="row">
    <%= button_to "Edit Ride", edit_ride_path, class: "pairBtn btn btn-default", method: "get" %> 
    <%= button_to "Delete Ride", ride_path, class: "pairBtn btn btn-default", method: "delete" %>
  </div>

  <div>
    <%= button_to 'Join Ride', ride_joinings_path, class: "btn btn-default", method: "post" %>

    <%= button_to 'Join RIDES', {controller: :ride_joinings, :action => "create", :ride_joiner_id => current_user.id, :joined_ride_id => @ride.id } , :method=>:post  %>
  </div>

</div>



