<!-- rides#show -->

<div class="container">
  
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <h2 id="Ride"> <%= @ride.title %> </h2>
      <div id='map'></div>

      <% if @ride.description.length > 0 %>
        <label>Description:</label>
        <p><%= @ride.description %></p>
        <br>
      <% end %>

      <% if @ride.start_date %>
        <label>Start Date:</label>
        <p><%= @ride.start_date %></p>
        <br>
      <% end %>

      <% if @ride.end_date %>
        <label>End Date:</label>
        <p> <%= @ride.end_date %> </p>
        <br>
      <% end %>

      <% if @ride.start_time %>
        <label>Start Time:</label>
        <p> <%= @ride.start_time %> </p>
        <br>
      <% end %>

      <% if @ride.end_time %>
        <label>End Time:</label>
        <p><%= @ride.end_time %></p>
        <br>
      <% end %>

      <% if @ride.start_location.length > 0 %>
        <label>Start Location:</label>
        <p> <%= @ride.start_location %> </p>
        <br>
      <% end %>

      <% if @ride.end_location.length > 0 %>
        <label>End Location:</label>
        <p> <%= @ride.end_location %> </p>
        <br>
      <% end %>

      <% if @ride.drop %>
        <label>This is a drop ride.</label>
        <br>
      <% end %>

      <% if @ride.public %>
        <label>This ride is open to the public.</label>
      <% end %>
    </div>

    <div class="col-sm-5">
      <h2>Confirmed Riders</h2>
      <% @joined_rides.each do |r| %>
        <h3> <%= User.find(r.ride_joiner_id).name %> </h3>
      <% end %>
    </div>
  </div>

  <div class="row col-sm-offset-1">
    <% if session[:user_id] == @ride.user_id %>
      <%= button_to "Edit Ride", edit_ride_path, class: "pairBtn btn btn-default", method: "get" %> 
      <%= button_to "Delete Ride", ride_path, class: "pairBtn btn btn-default", method: "delete" %>
    <% end %>
    <% if current_user && check_if_joined %>
      <%= button_to 'Join Ride', { controller: :ride_joinings, :action => "create", :ride_joiner_id => current_user.id, :joined_ride_id => @ride.id }, :class => "pairBtn btn btn-default", :method=>:post %>
    <% end %>
      <br>
  </div>
</div>

  <% @joined_rides.each do |r| %>
    <%= User.find(r.ride_joiner_id).name %>
  <% end %>

</div>

<% if session[:user_id] == @ride.user_id %>
<div class="row">
  <%= button_to "Edit Ride", edit_ride_path, class: "pairBtn btn btn-default", method: "get" %> 
  <%= button_to "Delete Ride", ride_path, class: "pairBtn btn btn-default", method: "delete" %>
</div>
<% end %>

<% if current_user && check_if_joined  %>
<div>  <%= button_to 'Join Ride', { :class => "pairBtn btn btn-default", controller: :ride_joinings, :action => "create", :ride_joiner_id => current_user.id, :joined_ride_id => @ride.id } , :method=>:post  %>
</div>
<% end %>
</div>

<div id='map'></div>
<div id='directions'>
</div>

<div class='hidden' id='start_location'><%= @ride.start_location %></div>
<div class='hidden' id='end_location'><%= @ride.end_location %></div>
