<!-- rides#show -->

<div class="container">
  
  <div class="row">
    <div class="col-sm-5 col-sm-offset-1">
      <h2 id="Ride"> <%= @ride.title %> </h2>

      <% if @ride.description.length > 0 %>
        <label>Description:</label>
        <div class="well well-sm"><%= @ride.description %></div>
        <br>
      <% end %>

      <% if @ride.start_date %>
        <label>Start Date:</label>
        <div class="well well-sm"><%= @ride.start_date %></div>
        <br>
      <% end %>

      <% if @ride.end_date %>
        <label>End Date:</label>
        <div class="well well-sm"> <%= @ride.end_date %> </div>
        <br>
      <% end %>

      <% if @ride.start_time %>
        <label>Start Time:</label>
        <div class="well well-sm"> <%= @ride.start_time %> </div>
        <br>
      <% end %>

      <% if @ride.end_time %>
        <label>End Time:</label>
        <div class="well well-sm"><%= @ride.end_time %></div>
        <br>
      <% end %>

      <% if @ride.start_location.length > 0 %>
        <label>Start Location:</label>
        <div class="well well-sm"> <%= @ride.start_location %> </div>
        <br>
      <% end %>

      <% if @ride.end_location.length > 0 %>
        <label>End Location:</label>
        <div class="well well-sm"> <%= @ride.end_location %> </div>
        <br>
      <% end %>

      <% if @ride.drop %>
        <div class="well well-sm"> This is a drop ride.</div>
        <br>
      <% end %>

      <% if @ride.public %>
        <div class="well well-sm"> This ride is open to the public. </div>
      <% end %>

      <% if session[:user_id] == @ride.user_id %>
        <%= button_to "Edit Ride", edit_ride_path, class: "pairBtn btn btn-default", method: "get" %> 
        <%= button_to "Delete Ride", ride_path, class: "pairBtn btn btn-default", method: "delete" %>
      <% end %>
      <% if current_user && check_if_joined %>
        <%= button_to 'Join Ride', { controller: :ride_joinings, :action => "create", :ride_joiner_id => current_user.id, :joined_ride_id => @ride.id }, :class => "pairBtn btn btn-default", :method=>:post %>
      <% end %>
        <br>
    </div> <!-- div.col -->

    <div class="col-sm-5" id="rideshowmap">
      <div id='map'></div>
    </div>
  </div> <!-- div.row -->
<br>
<div class="row">
   <div class="col-sm-4 col-sm-offset-4">
     <h2>Confirmed Riders</h2>
     <% @joined_rides.each do |r| %>
       <div class="well well-sm"> <%= User.find(r.ride_joiner_id).name %> </div>
     <% end %>
   </div> <!-- div.col -->
 </div> <!-- div.row -->
<!--  -->
</div> <!-- div.container -->

<div class='hidden' id='start_location'><%= @ride.start_location %></div>
<div class='hidden' id='end_location'><%= @ride.end_location %></div>


